body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(159, 211, 194);
    color: white;
    text-align: center;
  }
  
  .main-grid {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 100px 1fr 50px;
  }

.quiz-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.quiz-header {
  grid-row: 2/3;
}

  #index-header {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  
#blurb {
  border: 1px solid white;
  padding: 3%;
}

  #intro {
    border-radius: 14px;
    padding: 2%;
    background-color: rgb(228, 217, 182);
    color: rgb(10, 10, 10);
  }
  
  #intro:hover {
    background-color: black;
    color: rgb(228, 217, 182);
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  
  .one {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }