body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(159, 211, 194);
    color: white;
    text-align: center;
  }
  
  .main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  
  #index-header {
    grid-row: 3/4;
  }
  
  #intro {
    border-radius: 18px;
    padding: 2%;
    background-color: rgb(228, 217, 182);
    color: rgb(10, 10, 10);
  }
  
  #intro:hover {
    background-color:rgb(228, 217, 182);
    color: rgb(255, 255, 255);
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  
  .one {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }