<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SHE - Sustainable Habits for Earth</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class="main-grid">
        <header id="index-header">
        <h1>Have items you want to recycle?</h1>
        <strong>This website was created to help people develop more sustainable practices! Whether you need ideas on how to upcycle old clothes or find sources to donate old technology, our website will help you find the best strategies to minimize waste and maximize environmental sustainability. Answer a series of questions to receive a list of ways for your target object and complete the steps to accumulate points. You can convert your points to money and donate them to select charities that promote environmental health and safety. The more points you accumulate, the more money you can donate! Let’s continue upholding our SHE. 
        </strong>
        <br>
        <br>
        <br>

        <div class="button">
            <a id="intro" href="/quiz">Let's see what we can do!</a>
        </div>
        </header>
    </body>
</html>

