<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>quiz page but we can change this</title>
        <link rel='stylesheet' href='/static/styles.css'/>
    </head>
    <body class="main-grid">
        <header>
        <form method="post">
            <label for="fname">First name:</label>
            <br />
            <input type="text" name="fname">
            <br />
            <label for="lname">Last name:</label>
            <br />
            <input type="text" name="lname">
            <br />
            <br>
            <label for="animal">What kind of item do you have?</label>
            <select class="one" name="animal">
                <option value="lion"></option>
                <option value="snake">Clothes</option>
                <option value="eagle">Food</option>
                <option value="badger">Electronics</option>
                <option value="badger">Plastic</option>
                <option value="badger">Old furniture</option>
            </select>
            <br />
            <br>
            <input class ="one" type="submit" value="Submit">
        </form>
    </header>
    </body>
</html>